main {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/offices.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.center-container {
    display: flex;
    flex-direction: row; 
    gap: 1.5rem; 
    width: auto; 
    justify-content: center; 
    align-items: flex-start; 
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .2rem;
    background-color: rgb(255, 255, 255);
    width: 300px; 
    height: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #000;
}

.card-text {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #333;
}

.card-button {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    padding: 0.6rem 2rem;
    background-color: rgb(128, 0, 32);
}

.card-button:hover {
    color: #fff;
    background-color: rgb(138, 24, 53);
}
