.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 10%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#password {
    outline: none;
    border: none;
    height: 32px;
    width: 370px;
    border-bottom: 2px solid rgb(165, 163, 163);
    margin-bottom: 15px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    height: 56px;
    width: 371px;
    margin-top: 20px;
    background-color:rgb(128, 0, 32) ;
    font-size: 20px;
    cursor: pointer;
}