.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 10%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body:root{
    --bg-color: #ffffff;
    --text-color: #000000;
}

body.dark-mode{
    --bg-color: #000000;
    --text-color: #ffffff;
}
body{
    background-color:var(--bg-color);
    color:var(--text-color);
}


#firstname-input{
    outline: none;
    border: none;
    height: 32px;
    width: 370px;
    border-bottom: 2px solid rgb(165, 163, 163);
    margin-bottom: 15px;
}

#lastname-input{
    outline: none;
    border: none;
    height: 32px;
    width: 370px;
    border-bottom: 2px solid rgb(165, 163, 163);
    margin-bottom: 15px;
}

#email-input {
    outline: none;
    border: none;
    height: 32px;
    width: 370px;
    border-bottom: 2px solid rgb(165, 163, 163);
    margin-bottom: 15px;
}

#password-input {
    outline: none;
    border: none;
    height: 32px;
    width: 370px;
    border-bottom: 2px solid rgb(165, 163, 163);
    margin-bottom: 15px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    height: 56px;
    width: 371px;
    margin-top: 20px;
    background-color:rgb(128, 0, 32) ;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(109, 1, 28) ;
}

.log{
    color: black;
}

.log:hover {
    text-decoration: underline;
}

#error-message{
    color: red;
}